<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/preview.css">
    <title>Document</title>
</head>
<body>
    <video autoplay muted loop class="back">
        <source src="images/Morkovny_fon.mov">
    </video>
    <div id="left">
        <div class="logo logo-left"></div>
        <p class="teamname">КОМАНДА А</p>
    </div>
    <div id="mid">
        <p class="info">ИНФОРМАЦИЯ</p>
        <p class="score"></p>
    </div>
    <div id="right">
        <div class="logo logo-right"></div>
        <p class="teamname">КОМАНДА Б</p>
    </div>
</body>
</html>