<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="javascripts/getter.js"></script>
    <link rel="stylesheet" href="stylesheets/shower.css">
</head>
<body onload="makeFetch()">

    <div id="top">
        <div class="caster">
            <!--   Font awesome   -->
            <p class="caster-name"> THERE WILL BE NICK OF CASTER!</p>
        </div>
    </div>
    <div id="middle">
        <div class="team-left">
            <img src="" alt="" class="logo-left">
            <p class="teamname-left"></p>
            <p class="score-left"></p>
        </div>
        <!--  Caster's webcam  -->
        <div class="team-right">
            <img src="" alt="" class="logo-right">
            <p class="teamname-right"></p>
            <p class="score-right"></p>
        </div>
    </div>
    <div id="bottom">
        <div class="map"><img src="" alt="" class="map-img">

<!--            <p class="map-name"></p>-->
<!--            <p class="map-score"></p>-->
        </div>
        <div class="map"><img src="" alt="" class="map-img">
<!--            <p class="map-name"></p>-->
<!--            <p class="map-score"></p>-->
        </div>
        <div class="map"><img src="" alt="" class="map-img">
<!--            <p class="map-name"></p>-->
<!--            <p class="map-score"></p>-->
        </div>
        <div class="map"><img src="" alt="" class="map-img">
<!--            <p class="map-name"></p>-->
<!--            <p class="map-score"></p>-->
        </div>
        <div class="map"><img src="" alt="" class="map-img">
<!--            <p class="map-name"></p>-->
<!--            <p class="map-score"></p>-->
        </div>
    </div>
</body>
</html>