<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show Page</title>
    <script src="javascripts/getter.js"></script>
    <link rel="stylesheet" href="stylesheets/shower.css">
    <script src="https://kit.fontawesome.com/5991e93572.js" crossorigin="anonymous"></script>
</head>
<body onload="{ makeFetch(); }">
<video autoplay muted loop class="back">
    <source id='bg' src="images/bg.mov">
</video>

    <div id="top">
        <p class="stage-name">STAGE INFO</p>
        <div class="caster">
            <i class="fas fa-headset"></i>
            <p class="caster-name" onclick="makeFetch()">
                THERE WILL BE NICK OF CASTER!</p>
        </div>
    </div>
    <div id="middle">
        <div class="team-left">
            <p class="score-left"></p>
            <p class="teamname-left"></p>
            <img src="" alt="" class="logo-left">
        </div>
        <canvas class="webcam">

        </canvas>
        <div class="team-right">
            <p class="score-right"></p>
            <p class="teamname-right"></p>
            <img src="" alt="" class="logo-right">
        </div>
    </div>
    <div id="bottom">
        <div class="map">
            <div class="map-img">
                <p class="map-score"></p>
                <div class="top-map-cont">
                    <p class="map-type">Control</p>
                    <div>
                        <img src="images/icons/control.png" alt="" class="type-icon">
                        <p class="map-name"></p>
                    </div>
                </div>
            </div>

        </div>
        <div class="map">
            <div class="map-img">
                <p class="map-score"></p>
                <div class="top-map-cont">
                    <p class="map-type">Control</p>
                    <div>
                        <img src="images/icons/assault.png" alt="" class="type-icon">
                        <p class="map-name"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="map">
            <div class="map-img" >
                <p class="map-score"></p>
                <div class="top-map-cont">
                    <p class="map-type">Control</p>
                    <div>
                        <img src="images/icons/hybrid.png" alt="" class="type-icon">
                        <p class="map-name"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="map">
            <div class="map-img" >
                <p class="map-score"></p>
                <div class="top-map-cont">
                    <p class="map-type">Control</p>
                    <div>
                        <img src="images/icons/escort.png" alt="" class="type-icon">
                        <p class="map-name"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="map">
            <div class="map-img">
                <p class="map-score"></p>
                <div class="top-map-cont">
                    <p class="map-type">Control</p>
                    <div>
                        <img src="images/icons/control.png" alt="" class="type-icon">
                        <p class="map-name"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

        
</body>
</html>