@font-face {
    font-family: "BigNoodleTitlingCyr";
    src: url("//db.onlinewebfonts.com/t/684c94f6cc6f9deda52aa04282ab7dae.eot");
    src: url("//db.onlinewebfonts.com/t/684c94f6cc6f9deda52aa04282ab7dae.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/684c94f6cc6f9deda52aa04282ab7dae.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/684c94f6cc6f9deda52aa04282ab7dae.woff") format("woff"), url("//db.onlinewebfonts.com/t/684c94f6cc6f9deda52aa04282ab7dae.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/684c94f6cc6f9deda52aa04282ab7dae.svg#BigNoodleTitlingCyr") format("svg");
}
@font-face {
    font-family: "Industry Medium";
    src: url("fonts/Industry-Medium.ttf");
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "BigNoodleTitlingCyr", serif;
    /*background: url('../images/fon.gif') no-repeat center center fixed;*/
    color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 99%;
    height: 100%;
}
p{
    margin: 0;
    padding: 0;
}

.back {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#top, #middle, #bottom {
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    height: 100%;
}

#top {
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 26pt;
    margin: 20px 0 0 0;
    padding: 0;
}

#middle {
    justify-content: space-between;
    align-items: center;
    width: 90%;
    /*max-height: 45%;*/
    font-size: 26pt;
}

#bottom{
    justify-content: space-between;
    align-items: center;
    width: 80%;
    /*height: 40%;*/
    margin-top: 1%;
}
.caster{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.caster-name{
    font-size: 42pt;
}

.team-left, .team-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0;
    padding: 0;
    border: 1px solid red;
    width: 33%;
    height: 100%;
}

.teamname-left, .teamname-right {
    margin-top: 10px;
    font-size: 36pt;
}

.score-left, .score-right{
    font-size: 48pt;
}

.team-left>img.logo-left, .team-right>img.logo-right {
    border: 1px solid orange;
    max-height: 35vh;
    width: auto;
}

.map {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 25vh;
    height: 25vh;
    max-height: 25vh;
    max-width: 25vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 5px solid lightgray;
    border-radius: 5px;
}

.map-img {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-repeat: no-repeat;
    background-position: center;
}

.map-score{
    background-color: rgba(200, 200, 200, 0.55);
    width: 100%;
    font-size: 18pt;
}

.map-img{
    position: relative;
}

.map-type{
    position: absolute;
    top: 0;
    font-size: 14pt;
    color: #c98612;
    background-color: rgba(0,0,0,0.55);
    font-family: "Industry Medium";
    width: 100%;
}

.map-name{
    top: 18pt;
    color: white;
    left: 0;
}

.map-score {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-size: 46pt;
    background-color: transparent;
    font-family: "BigNoodleTitlingCyr";
    position: absolute;
    top: calc((22vh)/2);
}

.map-img > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 5;
    position: absolute;
    top: 18pt;
    width: 100%;
    background-color: rgba(0,0,0,0.55);
    font-size: 13pt;
    color: white;
    font-family: "Industry Medium";
}

.type-icon{
   /* position: absolute;*/
    margin-right: 5px;
    width: 16pt;
    height: auto;
    top: 18pt;
    filter: invert(100%) sepia(0%) saturate(7442%) hue-rotate(167deg) brightness(114%) contrast(100%);
}
